<div class="container mt-4">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
<div formGroupName="userdata">
        <div class="form-group">
            <label>Username</label>
            <input type="text" formControlName="username" class="form-control"/>
            <div *ngIf="signinForm.get('userdata.username').touched ">
            <div *ngIf="signinForm.get('userdata.username').errors['required']">Username is Required</div>
            <div *ngIf="signinForm.get('userdata.username').errors['restrictedname']">Username Should not be taken</div>
        </div>
        </div>

        <div class="form-group">
                <label>EMail</label>
                <input type="text" formControlName="email" class="form-control"/>
            </div>

        </div>

            <h3>Hobbies</h3>

            <div formArrayName="hobbies">
                <div class="form-group" *ngFor="let hobby of signinForm.get('hobbies').controls; let i = index">
                    <input type="text" [formControlName]="i" class="form-control"/>
                </div>
            </div>

            <div>
                <a href="#" (click)="onAddHobby()">Add Hobby</a>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
    </form>
</div>
